# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f57130e3398164ae07d8e277d8cd9e0e19ad17257ff27538f0d4f716f035ff248c7c2ea57197026986ad46c5aa48cc1955c2f18c91b46fa140fd7a4aad912f83
  app_id_facebook: 1589173014715409
  app_secret_facebook: 73810043c8f7cf06dbec22d84b11e7cc

test:
  secret_key_base: a395aaa237ce0f5838b8dd40aca5a50ad25061e4cc337833621a9adcdb18ad7a3a92246668fa8ed53787eccb8fd7636c8ab4dfbc43f5c6f84a9f9e1652f3336f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  app_id_facebook: 1589173014715409
  app_secret_facebook: 73810043c8f7cf06dbec22d84b11e7cc
