/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


html, body {
	font-family: 'Raleway', sans-serif;
}

#logo {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	letter-spacing: -1px;
	padding: 15px 0;
	a {
		color: #E4287C;
	}
}

.fa-heart {
    	color: #E4287C;
}

#facebook_header {
		margin-top: 6px;
		margin-right: 10px;
}

.navbar-default .navbar-nav > li > a {
	margin-right: -20px;
	margin-left: 0px;
}

.navbar-default .navbar-nav .submit_link {
	color: #008000;
	font-weight: 700;
}

.navbar-default .navbar-nav #sign_out_link {
    color: #333333;    
}

#main_content {
	
	.author {
		color: #008000;
	}

	.link_color {
		color: #E4287C;
	}
	
	.fa-heart {
    	color: #E4287C;
	}

	.fa-bolt {
	    top: -5%;
	    left: 2%;
	    font-size: 70%;
	}

	#content {
		float: none;
	}
	padding-bottom: 100px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		margin-left: inherit;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.submit {
		background-color: #008000;
	}
	.back_link {
		color: #008000;
		font-weight: 700;
		font-size: 15px;
	}
}